applicationsets:
  multi-cluster-web:
    namespace: argocd

    goTemplate: true
    goTemplateOptions: ["missingkey=error"]

    generators:
      - merge:
          mergeKeys:
            - name
          generators:
            - clusters:
                selector:
                  matchLabels:
                    env: downstream
            - list:
                elements:
                  - name: andromeda
                    message: "Welcome to the PRODUCTION cluster: Andromeda 🚀"
                    replicas: 3
                  - name: phoenix
                    message: "Welcome to the STAGING cluster: Phoenix 🔥"
                    replicas: 1

    template:
      metadata:
        name: 'simple-web-{{ .name }}'
      spec:
        project: default
        source:
          repoURL: 'https://github.com/richardpct/helm-example.git'
          targetRevision: nginx
          path: web
          helm:
            values: |-
              message: "{{ .message }}"
              host: "{{ .name }}.${domain}"
              replicaCount: {{ .replicas }}
        destination:
          name: '{{ .name }}'
          namespace: web
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
          syncOptions:
            - CreateNamespace=true

  traefik-ingress:
    namespace: argocd

    goTemplate: true
    goTemplateOptions: ["missingkey=error"]

    generators:
      - merge:
          mergeKeys:
            - name
          generators:
            - clusters:
                selector:
                  matchLabels:
                    env: downstream
            - list:
                elements:
                  - name: andromeda
                    message: "Welcome to the PRODUCTION cluster: Andromeda 🚀"
                    replicas: 3
                  - name: phoenix
                    message: "Welcome to the STAGING cluster: Phoenix 🔥"
                    replicas: 1

    template:
      metadata:
        name: 'traefik-ingress-{{ .name }}'
      spec:
        project: default
        sources:
          - repoURL: 'https://traefik.github.io/charts'
            chart: traefik
            targetRevision: 40.1.0
            helm:
              valueFiles:
                - $myrepo/traefik-ingress/values.yaml
          - repoURL: https://github.com/richardpct/helm-example.git
            targetRevision: nginx
            ref: myrepo
        destination:
          name: '{{ .name }}'
          namespace: traefik
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
          syncOptions:
            - CreateNamespace=true
