global:
  domain: "argocd.${domain}"

configs:
  params:
    server.insecure: true

  secret:
    argocdServerAdminPassword: "${argocd_pass_hash}"

## Repo Server
repoServer:
  # -- Repo server name
  name: repo-server

  # -- The number of repo server pods to run
  replicas: 1

  # -- Runtime class name for the repo server
  # @default -- `""` (defaults to global.runtimeClassName)
  runtimeClassName: ""

  ## Repo server Horizontal Pod Autoscaler
  autoscaling:
    # -- Enable Horizontal Pod Autoscaler ([HPA]) for the repo server
    enabled: false
    # -- Minimum number of replicas for the repo server [HPA]
    minReplicas: 1
    # -- Maximum number of replicas for the repo server [HPA]
    maxReplicas: 2
    # -- Average CPU utilization percentage for the repo server [HPA]
    targetCPUUtilizationPercentage: 50
    # -- Average memory utilization percentage for the repo server [HPA]
    targetMemoryUtilizationPercentage: 50
    # -- Configures the scaling behavior of the target in both Up and Down directions.

server:
  replicas: 1
  ingress:
    enabled: true
    ingressClassName: "traefik"
    hostname: "argocd.${domain}"
    path: /
    pathType: Prefix
    tls: true
    extraTls:
      - hosts:
          - "argocd.${domain}"
        secretName: tls-argocd-ingress
