apiVersion: "cilium.io/v2"
kind: CiliumLoadBalancerIPPool
metadata:
  name: "blue-pool"
spec:
  blocks:
  - start: ${start_ip}
    stop: ${stop_ip}
  serviceSelector:
    matchLabels:
      color: blue
